body {
    padding-top: 200px;
    margin-left: 400px;
    margin-right: 400px;
    background-image: url("https://www.desktopbackground.org/download/1920x1080/2015/06/04/959070_pokemon-clouds-pixel-art_1920x1200_h.png");
    background-position: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

button {
    display: inline-block;
    background-color: #e3cd2d;
    border-radius: 10px;
    border: solid 4px #e3cd2d;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 4px #ffffff;
    color: #2629d9;
    text-align: center;
    font-size: 17px;
    font-family: 'Press Start 2P', cursive;

}

.column {
    width: auto;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 100px;


}

.leftSide {
    background-color: #d92626;
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: inline-block;
    border: solid 10px #d92626;
    border-radius: 5px;
    padding-bottom: 50px;
}

.rightSide {
    background-color: #d92626;
    float: right;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: inline-block;
    border: solid 10px #d92626;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-right: 50px;
    white-space: nowrap;

}

.pokeSprite {
    width: 200px;
    height: auto;

}

img {
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-left: 60px;
}

